@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primary-orange: #ffa588;
	--secondary-orange: rgba(255, 165, 136, 1);
	--primary-white: #fff;
	--hover-white: rgba(255, 255, 255, 0.7);
	--primary-black: #000;
	--hover-black: rgba(0, 0, 0, 0.9);
	--secondary-black: #202124;
	--tertiery-black: rgba(41, 43, 46, 1);
	--primary-grey: rgba(71, 71, 71, 1);
	--secondary-grey: rgba(97, 97, 97, 1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Poppins', sans-serif;
	font-weight: 600;

	scrollbar-width: 0;

	cursor: none !important;

	&::-webkit-scrollbar {
		display: none;
	}
}

body {
	background-color: var(--secondary-black);
	margin: 0;
	padding: 0;

	// width: 100%;
	// height: 100%;
}

a {
	color: #fff;
	text-decoration: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

.title {
	width: fit-content;
	height: fit-content;

	font-size: 2.5rem;
	font-weight: 700;
	color: var(--primary-orange);

	text-align: center;

	position: relative;

	&::after {
		content: '';
		width: 50%;
		height: 5px;

		background-color: var(--primary-orange);

		position: absolute;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);

		border-radius: 2px;
	}
}

.slide-in {
	opacity: 0;
	transform: translateX(100px);
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;

	&.in-viewport {
		opacity: 1;
		transform: translateX(0);
	}
}

.fade {
	opacity: 0;
	transition: opacity 1.5s ease-in-out;

	&.in-viewport {
		opacity: 1;
	}
}

.scale {
	transform: scale(0);
	opacity: 0;
	transition: transform 1s ease-in-out, opacity 1s ease-out;

	&.in-viewport {
		transform: scale(1);
		opacity: 1;
	}
}