:root{
    --primary-color: #000;
    --secondary-color: #fff;
    --tertiary-color: #000;
    --quaternary-color: #fff;
    --quinary-color: #000;
    --senary-color: #fff;
    --septenary-color: #000;
    --octonary-color: #fff;
    --nonary-color: #000;
    --denary-color: #fff;
}

body{
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
}